{% block content %}
<form class="form-signin" method="post">
  {% csrf_token %}
  {{ form.as_p }}
 <p>
    <a href="{% url 'home' %}">HOME </a> |
    <a href="{% url 'password_change' %}">CHANGE PASSWORD</a> |
    <a href="{% url 'delete_account' %}">DELETE ACCOUNT</a>
 </p>

  <h2>Update account</h2>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required value={{account_form.initial.email}}>
    <input type="text" name="first_name" id="inputFirstName" class="form-control" placeholder="First name" required value="{{account_form.initial.first_name}}">
    <input type="text" name="last_name" id="inputLastName" class="form-control" placeholder="Last name" required value="{{account_form.initial.last_name}}">

  {% for field in account_form %}
      <p>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  {% if account_form.non_field_errors %}
    <div style="color: red">
      <p>{{account_form.non_field_errors}}</p>
    </div>

  {% endif %}

  {% if success_message %}
    <p>{{success_message}}</p>
  {% endif  %}

  <button class="btn btn-lg btn-primary btn-block" type="submit">Save changes</button>
</form>

{% endblock content %}